@use './abstracts/mixins';
@import './abstracts/variables';

.hero{
  padding: 70px;
  width: 100%;
  height: 100vh;
  @include mixins.flex(center, center, column);
  position: relative;

  &__title{
    z-index: 100;
    width: 100%;
    padding: 85px 70px;
    display: flex;
    flex-direction: column;
    
    &--row{
      @include mixins.flex(center, space-between, row);
    }
  }
  &__background{
    position: absolute;
    @include mixins.flex(center, center, row);
    padding: 70px;
    width: 90%;
    height: 95%;
    .absolute{
      position:absolute;
      @include mixins.flex(center, center, row);
    }
  }
  .rows{
    display: flex;
    flex-direction: column;
    gap: 115px;
    width: 100%;
    height: 100%;
    .row{
      width: 100%;
      height: 1px;
      background-color: $bg-light-1;
    }
  }
  .cols{
    @include mixins.flex(center, space-around, row);
    gap: 100px;
    width: 100vw;
    height: 100%;
    .col{
      width: 1px;
      height: 100%;
      background-color: $bg-light-1;
    }
  }
}